@import '../../style-extends/variables';
@import '../../style-extends/extends';
@import '../../style-extends/mixins';

.AddEventForm {
  max-width: $add-event-section-max-width;
  margin: 0 auto;

  &__button {
    @extend %button;

    height: 45px;

    font-size: $mobile-font-size;

    border-radius: 20px;

    @media (min-width: $tablet-screen-width) {
      font-size: $font-size;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: $mobile-font-size;
    color: $orange-color;

    @media (min-width: $tablet-screen-width) {
      font-size: $font-size;
    }
  }

  &__notification {
    margin-bottom: 20px;

    color: $error-color;

    &--success {
      color: $success-color;
    }
  }
}
