@import './variables';
@import './mixins';

%visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;

  white-space: nowrap !important;

  border: 0 !important;
  overflow: hidden !important;

  clip: rect(0, 0, 0, 0) !important;
}

%bg-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

%card {
  padding: 30px $main-paddings;

  border-radius: 10px;
  background-color: $reserve-bg-color;

  box-shadow: 0 0 6px $shadow-color;
}

%input-border-radius {
  border-radius: 7px;
}

%button {
  display: block;
  width: 100%;
  padding: 8px;

  font-size: 16px;
  font-weight: bold;
  color: #fff;

  border: 0;
  @extend %input-border-radius;
  background-color: $orange-color;
  box-shadow: 5px 5px 5px $shadow-color;

  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: perspective(500px) translateZ(-5px);
    box-shadow: 0 0 0 #fff;
  }

  &:disabled {
    color: $reserve-gray-color;

    background-color: $buy-button--disabled;
    transform: none;
    box-shadow: 0 0 0;
    cursor: not-allowed;
  }
}

%button-handler {
  @include createSquare(22px);
  @extend %bg-contain;

  border: 0;
  background-color: $bg-color;
  outline: 0;
  transform: perspective(100px);
  transition: transform 0.3s;

  &:hover {
    transform: perspective(100px) translateZ(15px);
  }
}

%button-close {
  background-image: url('../images/delete-icon.svg');
}

%button-edit {
  @include createSquare(26px);

  margin-top: -6px;

  background-image: url('../images/edit-icon.svg');

  @media (min-width: $tablet-screen-width) {
    @include createSquare(30px);
  }
}
