$tablet-screen-width: 800px;
$mobile-screen-width: 400px;
$list-jump: 600px;
$max-width: 1200px;

$main-paddings: 20px;

$add-event-section-max-width: $tablet-screen-width;
$input-width: 320px - $main-paddings * 2;
$inputs-horizontal-gap: 50px;
$button-margin-right: (
    $add-event-section-max-width - 2 * $input-width - $inputs-horizontal-gap - 2 *
      $main-paddings
  ) / 2;

$event-item-min-width: 320px - $main-paddings * 2;
$event-iten-paddings: 10px;

$font-size: 26px;
$mobile-font-size: 22px;

$bg-color: #f3f7fa;
$reserve-bg-color: #fcfcfc;
$gray-color: #4c4c4c;
$reserve-gray-color: #adadad;
$shadow-color: #a3a2a2;
$hover-color: #747474;
$orange-color: #ff6d00;
$buy-button--disabled: #a54700;
$error-color: #ff6060;
$success-color: #1bb12f;
$blue: #2196f3;

$button-border-radius: 7px;
