@import '../../index.scss';

.AddEvent {
  max-width: $add-event-section-max-width;
  margin: 0 auto;

  &__button-wrapper {
    height: 60px;

    font-size: $mobile-font-size;
    border-radius: 30px;

    @media (min-width: $tablet-screen-width) {
      font-size: $font-size;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: $mobile-font-size;
    color: $orange-color;

    @media (min-width: $tablet-screen-width) {
      font-size: $font-size;
    }
  }

  &__notification-wrapper {
    &--active {
      margin-bottom: 20px;
    }
  }
}
