@import './style-extends/reset';
@import './style-extends/normalize';
@import './style-extends/variables';
@import './style-extends/fonts';
@import './style-extends/extends';

body {
  position: relative;
  margin: 0;

  background-color: $bg-color;
}

.visually-hidden {
  @extend %visually-hidden;
}
