@import '../../style-extends/variables';
@import '../../style-extends/extends';

.FormComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @extend %card;

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;

    @media (min-width: $mobile-screen-width) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
    }

    @media (min-width: $tablet-screen-width) {
      gap: 20px $inputs-horizontal-gap;
    }
  }

  &__label {
    width: 100%;
    max-width: $input-width;

    @media (min-width: $tablet-screen-width) {
      flex-basis: $input-width;
    }
  }

  &__input-title {
    margin-bottom: 7px;

    font-size: 16px;
    color: $orange-color;
  }

  &__input {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    padding: 5px 10px;

    border: 1px solid $reserve-gray-color;
    outline: 0;
    @extend %input-border-radius;

    &::placeholder {
      color: $reserve-gray-color;
    }

    &:hover {
      border-color: $hover-color;
    }

    &:focus {
      border: 1px solid $gray-color;
    }

    &:disabled {
      border: 1px solid $reserve-gray-color;
      cursor: not-allowed;
    }

    &--error {
      border-color: $error-color;
    }

    &--success {
      border-color: $blue;
    }
  }

  &__error {
    font-size: 14px;
    color: $error-color;
  }

  &__button {
    @extend %button;

    max-width: $input-width;

    @media (min-width: $tablet-screen-width + 2 * $main-paddings) {
      margin-left: auto;
      margin-right: $button-margin-right;
    }
  }
}
