@import '../../style-extends/variables';
@import '../../style-extends/extends';
@import '../../style-extends/mixins';

.ItemEditing {
  @extend %card;

  position: fixed;
  left: 50%;
  top: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: $input-width;

  border-radius: 15px;
  transform: translate(-50%, -50%);
  box-shadow: none;

  &__header {
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    &--success {
      margin-bottom: 0;
    }
  }

  &__title {
    padding-top: 10px;

    font-size: $mobile-font-size;
    text-align: center;
    color: $orange-color;

    &--success {
      color: $success-color;
    }

    @media (min-width: $list-jump) {
      font-size: $font-size;
    }
  }

  &__closer {
    position: absolute;
    right: -7px;
    top: -18px;
  }

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  &__label {
    width: 100%;
    max-width: $input-width;
  }

  &__input-title {
    margin-bottom: 7px;

    font-size: 16px;
    color: $orange-color;
  }

  &__input {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    padding: 5px 10px;

    border: 1px solid $reserve-gray-color;
    outline: 0;
    @extend %input-border-radius;

    &::placeholder {
      color: $reserve-gray-color;
    }

    &:hover {
      border-color: $hover-color;
    }

    &:focus {
      border: 1px solid $gray-color;
    }

    &:disabled {
      border: 1px solid $reserve-gray-color;
      cursor: not-allowed;
    }

    &--error {
      border-color: $error-color;
    }

    &--success {
      border-color: $blue;
    }
  }

  &__error {
    font-size: 14px;
    color: $error-color;
  }

  &__button {
    @extend %button;

    width: 100%;

    @media (min-width: $tablet-screen-width + 2 * $main-paddings) {
      margin-left: auto;
      margin-right: $button-margin-right;
    }
  }
}
